.share {
  margin: 20px 0;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.shareContainer {
  display: flex;
  flex-direction: column;
}

.shareContainer input[type="file"] {
  margin-bottom: 10px;
}

.shareContainer textarea {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.shareContainer button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.shareContainer button:hover {
  background-color: #0056b3;
}
