.container {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  background-color: #fafafa;
}

.feed {
  width: 100%;
  max-width: 600px;
  padding: 0 20px;
}

@media screen and (min-width: 768px) {
  .container {
    justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  .feed {
    max-width: 100%;
    padding: 0 10px;
  }
}
